<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="text-center mt-5">Are you sure you want to logout?</h1>
        <div class="text-center mt-4">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <a href="/" class="btn btn-secondary mt-2">Cancel</a>
        </div>
    </div>
</body>
</html>
