<!DOCTYPE html>
<html>
<head>
    <title>Booking Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="text-center mt-5">Successfully booked ticket for {{ show_name }}!</h1>
        <div class="text-center mt-4">
            <a href="/" class="btn btn-secondary">Back to Shows</a>
            <div class="text-right mt-2 mr-2">
                <a href="/logout" class="btn btn-warning">Logout</a>
            </div>            
        </div>
    </div>
</body>
</html>
